*{
  margin: 0px;
  padding: 0px;
}
body{
  background-image: linear-gradient(45deg, black, red);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {  display: grid;
  grid-template-columns: 0.9fr 1.1fr 1fr;
  grid-template-rows: 0.5fr 2.1fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.Header {grid-area: 1 / 1 / 2 / 4; }

.Logo { 
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  padding: 10px;
  
}
a{
  text-decoration: none;
  color: white;
}
.Cuerpo { grid-area: 2 / 1 / 3 / 4; 

}

.Footer { grid-area: 3 / 1 / 4 / 4; }

header{
   display: flex;
   height: 130px;
   background-color: black;
   justify-content:space-between;
   align-items: left;
   padding: 10px;
   margin-right: 0px;
   color:aliceblue;
   justify-content: left;

}
  
.Logo img{
  align-items: left;
  position: static;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  justify-content: center;
}
.Logo h2{
  position: relative;
  margin-right: 20px;
}
.Logo .buscar {
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative; 
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background:white(184, 123, 123);
  padding: 20px;
  height: 50px; /*Para la altura del buscador*/
  border-radius: 40px ;
  color:black;
}
.Logo .lupita{
  border: none;
  background: transparent;
  outline: none;
  color: rgb(3, 3, 3);
  font-size: 20px;
  float: left;
  line-height: 60px;
  font-weight: bold;
  padding-left: 24px;
  background-image: url(Imagenes/lupa-blanca.png);
  background-size: 16px;
  background-repeat: no-repeat;
  width: 0px;


}

.navegacion{
  position:static;
  width: 100%;
  padding: 0;
  list-style: none;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
nav a{
  font-weight: 600px;
  padding-right: 10px;
  text-align: center;
  color: white;
  position: relative;
  width: 90%;
  padding:0px 5px;
  list-style: none;
  max-width: 1000px;
  margin: auto;
}  

 nav a:hover {
  color: black;
}
  
 